Package: com.golddavid.flash
Name: Flash
Depends: mobilesubstrate
Version: 1.0.1
Architecture: iphoneos-arm
Description: Light in a flash
Maintainer: David Goldman <help@golddavid.com>
Author: David Goldman <help@golddavid.com>
Section: Tweaks
Icon: file:///Library/Application Support/Flash/Resources.bundle/Flash@2x.png
