{
  title = "Flash";
  items = (
    {
      cell = PSGroupCell;
      headerCellClass = FLASHHeaderCell;
    },
    {
      cell = PSSwitchCell;
      cellClass = FLASHSwitchTableCell;
      PostNotification = "com.golddavid.flash/ReloadPrefs";
      key = "Enabled";
      id = "Enabled";
      label = "Enabled";
      sublabel = "Quickly enable or disable Flash.";
      icon = "Enabled.png";
      default = 1;
      defaults = "com.golddavid.flash";
    },

    {
      cell = PSGroupCell;
      label = "Options";
      footerText = "© 2015 David Goldman and Andrew Abosh";
    },
    {
      cell = PSSwitchCell;
      cellClass = FLASHSwitchTableCell;
      PostNotification = "com.golddavid.flash/ReloadPrefs";
      key = "GhostedIcon";
      label = "Ghosted Icon";
      sublabel = "No app icon, just the bolt glyph.";
      icon = "Icon Appearance.png";
      default = 0;
      defaults = "com.golddavid.flash";
    },
    {
      cell = PSSwitchCell;
      cellClass = FLASHSwitchTableCell;
      PostNotification = "com.golddavid.flash/ReloadPrefs";
      key = "OverrideHandoff";
      label = "Override Siri Suggestions";
      sublabel = "Take priority over any Siri Suggestion.";
      icon = "Override Siri.png";
      default = 0;
      defaults = "com.golddavid.flash";
    },
    {
      cell = PSStaticTextCell;
      cellClass = FLASHTableCell;
      id = "LightLevelText";
      sublabel = "The light level at which the icon displays.";
      label = "Light Level";
      icon = "Light Level.png";
    },
    {
      cell = PSSliderCell;
      PostNotification = "com.golddavid.flash/ReloadPrefs";
      key = "LuxCutoff";
      id = "LuxCutoff";
      default = 6;
      defaults = "com.golddavid.flash";
      min = 1;
      max = 11;
      isSegmented = 1;
    }
  );
}
